@model MiniLayihe.Models.AdminAccountEditorVM;

@{
    Layout = null;
}

<form method="post" asp-action="Show">
    <!-- Email input -->
    <div class="form-outline mb-4">
        <input asp-for="Mail" type="email" asp-route-emailAddress="" id="form2Example1" class="form-control" />
        <label asp-for="Mail" class="form-label" for="form2Example1">Enter Mail Adsress</label>
    </div>
    <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
</form>